<% if current_user %>
  <%= render :partial => 'logo' %>
  <p class="intro-message">Welcome <%= current_user.name %>!</p>
  <ul data-role="listview" data-inset="true">
    <li data-role="list-divider" role="heading"><h1>What do I want to do today?</li>
    <% @categories.each do |category| %>
      <li><%= link_to category.category, "/categories/#{category.id}" %></li>
    <% end %>
  </ul>
<% else %>
  <%= render :partial => 'logo' %>
  <p>Facilitating spontaneity, making new friends!</p>
  <%= link_to "Sign in with Twitter", path_to_login, 'data-role' => 'button', 'data-ajax' => 'false' %>
<% end %>