<% if @notice %>
<h3><%= @notice %></h3>
<%end %>
<% if @meetups_i_am_attending.present? %>
  <h2>Meetups I am going to:</h2>
  <% @meetups_i_am_attending.each do |meetup| %>
    Location: <%= meetup.location %>
    <br>
    Created at: <%= meetup.created_at %>
    <br>
    Attending:
    <br>
    <% meetup.users.each do |user| %>
      <%= user.name %>
      <br>
    <% end %>
  <% end %>
<% end %>

<% if @meetups_i_am_not_attending.present? %>
  <h2>Some people are already meeting up to <%= @category.category %>:</h2>
  <% @meetups_i_am_not_attending.each do |meetup| %>
    Location: <%= meetup.location %>
    <br>
    Created at: <%= meetup.created_at %>
    <br>
    <%= link_to 'Join them!', meetup_join_path(meetup) %>
    <br>
    Attending:
    <br>
    <% meetup.users.each do |user| %>
      <%= user.name %>
      <br>
    <% end %>
  <% end %>
<% end %>

<div id="create-new-meetup">
  <%= link_to "Create new #{@category.category} meetup!", :controller => :meetups, :action => :new , :category_id =>  @category.id %>
</div>