<% if @notice %>
<h3><%= @notice %></h3>
<%end %>

<% if @meetups_i_am_not_attending.present? %>
  <ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b">
    <li data-role="list-divider" role="heading">Some people are already meeting up to <%= @category.uncapitalized_name %>, join them!</li>
    <% @meetups_i_am_not_attending.each do |meetup| %>
      <li>
        <div class="meetup">
          <p><span class="label">Location:</span> <%= meetup.location %></p>
          <p><span class="label">Created at:</span> <%= meetup.created_at %></p>
          <p><span class="label">Attending:</span></p>
          <% meetup.users.each do |user| %>
            <div class="user-details">
              <% if user.avatar.present? %>
                <div class="avatar"></div>
              <% end %>
              <%= user.name %>
            </div>
          <% end %>
          <%= link_to 'Join them!', meetup_join_path(meetup), 'data-role' => 'button' %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @meetups_i_am_attending.present? %>
  <ul data-role="listview" data-inset="true" data-theme="e" data-dividertheme="a">
    <li data-role="list-divider" role="heading">Meetups I am going to:</li>
    <% @meetups_i_am_attending.each do |meetup| %>
      <li>
        <div class="meetup">
          <p><span class="label">Location:</span> <%= meetup.location %></p>
          <p><span class="label">Created at:</span> <%= meetup.created_at %></p>
          <p><span class="label">Attending:</span></p>
          <% meetup.users.each do |user| %>
            <div class="user-details">
              <% if user.avatar.present? %>
                <div class="avatar"></div>
              <% end %>
              <%= user.name %>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<div id="create-new-meetup">
  <%= link_to "Create new #{@category.category} meetup!", "/meetups/new?category_id=#{@category.id}", 'data-role' => 'button','data-ajax' => 'false' %>
</div>